# The flake8 project doesn't and likely won't ever support putting
# the configuration in pyproject.toml so we need a separate file.
# There is a plugin that can load the configuration from pyproject.toml
# if you are so inclined. See https://pypi.org/project/Flake8-pyproject/
#
# See also, https://flake8.pycqa.org/en/latest/user/options.html

[flake8]
# Excluded by default: .git, __pycache__
extend-exclude =
    venv
max-line-length = 88
statistics = True
count=True
