# Editor temp files
*~

# Ignore dot files except those required for the project
.*
!.dockerignore
!.editorconfig
!.env.example
!.envrc
!.flake8
!.gitattributes
!.github
!.gitignore
!.gitkeep
!.pre-commit-config.yaml
!.python-version
!.readthedocs.yml

# Docker
docker-compose.override.yml

# Python
__pycache__/
*.py[co]
*.egg*

/media
/logs
/static
