# Python
__pycache__/
*.py[co]
*.egg*

# dot-files are ignored by default by .gitignore in the root directory.
# Here we disable that for selected files specific for the backend.
!.dockerignore
!.env.example
!.envrc
!.flake8

# Runtime files and directories
coverage

docker-compose.override.yml
